nav p{
    text-decoration: none;
    color: white;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(127, 184, 127);
}
.navbar-list{
    list-style-type: none;
    margin: 0;
    padding:0;
}
.navbar-item{
    float:left;
}
ul li a{
    text-decoration: none;
    display:block;
    color:white;
    text-align: center;
    padding: 20px;
}
ul li a:hover{
    background-color: darkgreen;
    color: black;
    }
img{
    height: 300px;
    width:300px;
    margin: 5px;
}
.main-container{
    padding-left: 25%;
    padding-top: 125px;
    padding-bottom:125px;
    display: flex;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.homeheader h1{
    text-align: center;
}
.homeheader h4{
    text-align: center;
    font-weight: lighter;
}
.para{
    margin-left:400px;
    margin-right:400px;
}
.dest{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom:120px;
}
.destination-card {
    background-color: rgb(127, 184, 127);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;

}
.destination-card:hover{
    transform: translate(0px,-8px);
    transform: 0.4s;
}
.destination-card h2 {
    margin-top: 0;
}

.destination-card p {
    margin-bottom: 15px;
}

.ticket-price {
    font-weight: bold;
}
.footer{
        background: rgb(127, 184, 127);
        color: white;
        text-align: center;
        padding:10px;
        margin-top:20px;
    }   
